
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
    color: #232072;
 }
.layout {
  display: flex;
  height: 100vh; 
  position: relative;
}

.main-content {
  flex: 1;
  overflow: auto; 
  padding: 0px;}
